################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CURSOVA_NH/FileContentIndex/675b990e-9aa4-40d7-bf21-7e4b0074c44e.vsidx
