################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CURSOVA_NH/FileContentIndex/675b990e-9aa4-40d7-bf21-7e4b0074c44e.vsidx
/.vs/CURSOVA_NH/FileContentIndex/897302e6-83a1-481a-841e-fbae9ddfa3bf.vsidx
/.vs/CURSOVA_NH/FileContentIndex/9453e970-262f-49ad-a76c-333d2fb15a59.vsidx
